---
layout: default
title: Peihong's Infinite Dimensional Space
---

<div class="content">
  <h3>Research</h3>
    <ul class="projects">
        {% for project in site.data.researchprojs %}
        <li>
            <a href="projects/{{ project.url }}">
                {{ project.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
  <h3>Course Projects</h3>
    <ul class="projects">
        {% for project in site.data.courseprojs %}
        <li>
            <a href="{{ project.url }}">
                {{ project.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
  <h3>Personal Projects</h3>
    <ul class="projects">
        {% for project in site.data.projects %}
        <li>
            <a href="projects/{{ project.url }}">
                {{ project.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
  <h3>Blog Posts</h3>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
